@import "tailwindcss";
@import "./tokens.css";

@layer base {
  body {
    background-color: var(--color-shell-bg);
    color: var(--color-text-primary);
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
  }
}
